<%- include ('../partials/head') -%>

<body>

    <div class="main">
        <div id="left">
            <div class="videos">
                <div id="video-grid">

                </div>
            </div>
            <div class="controls">
                <div class="controls-block">
                    <div onclick="muteUnmute()" class="controls-button muteable">
                        <i class="fas fa-microphone"></i>
                        <span>Silenciar</span>
                    </div>
                    <div onclick="playStop()" class="controls-button stoppable">
                        <i class="fas fa-video"></i>
                        <span>Detener video</span>
                    </div>
                </div>
                <div class="controls-block">
                    <div class="controls-button">
                        <a href="/courses/<%= course._id %> ">
                            <span class="text-danger">
                                Abandonar videoconferencia
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="right">
            <div class="chat-header">
                <h6>Chat
                </h6>

            </div>
            <div id="chat-window" class="chat-window">
                <ul id="messages" class="messages">

                </ul>
            </div>
            <div class="chat-type">
                <div class="input-group">
                    <input type="text" class="form-control" id="chat_message" placeholder="Escribe tu mensaje..." aria-describedby="button-addon1">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="button-addon1">
                            <i class="fab fa-telegram-plane fa-lg"></i>
                        </button>    
                    </div>
                </div>

            </div>
        </div>
    </div>


<%- include ('../partials/scripts') -%>
<script>
    const ROOM_ID = "<%= roomID %>";
    const user = "<%= user %>";
</script>
<script src="/js/peerjs.min.js" defer></script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/js/room.js" defer></script>