<%- include ('../partials/head') -%>
    <%- include ('../partials/sidebar') -%>
        <%- include ('../partials/topbar') -%>

            <div class="container">
            <% if (course.instructor) { %>
                <% if ( currentUser.type==='Instructor' && currentUser._id.equals(course.instructor._id)) { %>
                    <div class="row mx-2 mb-4">
                        <a href="/courses/<%= lesson.course %>/lessons/<%= lesson._id %>/edit"
                            class="btn btn-outline-warning mr-2">Editar</a>
                        <a class="btn btn-outline-danger mr-2" href="#" data-toggle="modal" data-target="#deleteModal">
                            Eliminar
                        </a>
                    </div>
                <% } %>
            <% } %>
                        <div class="row">
                            <div class="col">

                                <h1 class="mt-4">
                                    <%= lesson.name %>
                                </h1>

                                <p class="lead">
                                    Por
                                    <a href="#">Profesor</a>
                                </p>

                                <hr>

                                <p class="text-muted">
                                    Publicado el <%= lesson.createdAt.toLocaleDateString('es-ES', {weekday: 'long' ,
                                        year: 'numeric' , month: 'long' , day: 'numeric' }) %> a las <%=
                                            lesson.createdAt.toLocaleTimeString('es-ES', {hour12: true, hour: '2-digit'
                                            , minute: '2-digit' } ) %>
                                </p>

                                <hr>

                                <div class="container">
                                    <%- lesson.sanitizedDescription %>
                                </div>

                            </div>
                            <!-- Main Col -->

                        </div>
            </div>

            <%- include ('../partials/footer') -%>
                <%- include ('../partials/modal') -%>
                    <!-- Delete Modal-->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                                    <button class="close dismissable" type="button" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">¿Seguro de que quieres eliminar esta lección?
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-warning" type="button" data-dismiss="modal">Cancelar</button>
                                    <form
                                        action="/courses/<%= lesson.course %>/lessons/<%= lesson._id %>?_method=DELETE"
                                        method="post">
                                        <button class="btn btn-danger ">Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Delete Modal-->
                    <%- include ('../partials/scripts') -%>