<%- include ('../partials/head') -%>

    <body class="bg-gradient-secondary">

        <div class="container">

            <div class="card overflow-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Regístrate</h1>
                                </div>

                                <%- include ('../partials/flash') -%>
                                    <form action="/register" method="post" class="user needs-validation" novalidate>

                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label for="validationCustom01">Nombre</label>
                                                <input type="text" name="firstName"
                                                    class="form-control form-control-user" id="validationCustom01"
                                                    aria-describedby="first name" placeholder="Nombre"
                                                    value="<%= user.firstName %>" required>
                                                <div class="valid-feedback">
                                                    ¡No hay errores!
                                                </div>
                                                <div class="invalid-feedback">
                                                    El nombre no es válido
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="validationCustom02">Apellido</label>
                                                <input type="text" name="lastName"
                                                    class="form-control form-control-user" id="validationCustom02"
                                                    aria-describedby="first name" placeholder="Apellido"
                                                    value="<%= user.lastName %>" required>
                                                <div class="valid-feedback">
                                                    ¡No hay errores!
                                                </div>
                                                <div class="invalid-feedback">
                                                    El apellido no es válido
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="validationCustom03">E-mail</label>
                                            <input type="email" name="email" class="form-control form-control-user"
                                                id="validationCustom03" aria-describedby="email" placeholder="E-mail"
                                                value="<%= user.email %>" required>
                                            <div class="valid-feedback">
                                                ¡No hay errores!
                                            </div>
                                            <div class="invalid-feedback">
                                                El e-mail no es válido
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="validationCustom04">Contraseña</label>
                                            <input type="password" name="password"
                                                class="form-control form-control-user" id="validationCustom04"
                                                aria-describedby="password" placeholder="Contraseña" required>
                                            <div class="valid-feedback">
                                                ¡No hay errores!
                                            </div>
                                            <div class="invalid-feedback">
                                                La contraseña no es válida
                                            </div>
                                        </div>

                                        <button class="btn btn-primary btn-user btn-block"
                                            type="submit">Registrarse</button>

                                    </form>


                                    <hr>
                                    <div class="text-center">
                                        <a class="small text-secondary" href="/login">¿Ya tienes una cuenta? ¡Inicia sesión!</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <%- include ('../partials/scripts') -%>